<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login example</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <h1>Inloggning, utloggning och användarhantering</h1>
  <nav>
      <ul>
          <li><a href="/">Index</a></li>
          <li><a href="/admin">Admin</a></li>

          <li><a href="/login">Logga in</a></li>
          <li>
            <form class="delete" action="/logout" method="post">
              <input type="submit" value="Logga ut">
            </form>
          </li>
      </ul>
  </nav>

  <%= yield %>
</body>
</html>
