body {
  font-family: sans-serif;
  color: #666;
  background-color: #f1f1f1;
  font-size: x-large;
  margin: 1em;
}

form {
  display: inline-block;
}

nav {
  background-color: palegoldenrod;
  padding: 0.5em;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 0.5em;
}

nav ul li a,
nav input {
  text-decoration: none;
  color: #008080;
  background-color: cornsilk;
  padding: 0.2em;

  border: none;
  font: inherit;
  cursor: pointer;
}

nav ul li a:hover,
nav input:hover {
  text-decoration: underline;
}

#login-info {
  background-color: aquamarine;
  padding: 0.5em;
}
